###################
# Sensitive stuff #
###################

config.json

##########
# Log(s) #
##########

*.log

##########
# Python #
##########

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.py[cod]
*$py.class
__pycache__/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hyphotesis/
*.mp
*.pot
local_settings.py
instance/
.webassets-cache
.scrappy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
env/
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
/site

#########
# TRASH #
#########

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.ethumbs.db
.Thumbs.db
*.so
